.box {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  box-shadow: 5px 4.5px 7px -3.5px #dddddd !important;
  background-color: #f8f8f8 !important;
}

@media (max-width: 600px) {
  .box {
    width: 80% !important;
  }
}
