.calc-block {
  width: 70%;
  padding: 16px;
  border-radius: 12px;
  min-height: 200px;
  display: flex;
  box-shadow: 5px 4.5px 7px -3.5px #dddddd !important;

  background-color: #f8f8f8 !important;
}

.input {
  margin-bottom: 24px !important;
  width: 100% !important;
}
