.page-content {
  max-width: 1520px;
  margin: 0 auto;
  padding: 16px;
}

.block-parent {
  display: flex;
  justify-content: center;
}

.calc-block {
  width: 60%;
  padding: 16px;
  border-radius: 12px;
  min-height: 200px;
  display: flex;
  box-shadow: 5px 4.5px 7px -3.5px #dddddd !important;

  background-color: #f8f8f8 !important;
}

.calc-block-left {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-right: 1px solid #e1e1e1;
}
.calc-block-right {
}

.input {
  margin-bottom: 12px !important;
}

.result-block {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.result-num {
  font-size: 20px;
  font-weight: 500;
  color: #009900;
}

.result-title {
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

.title-set {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ed4c58;
}

@media (max-width: 1000px) {
  .calc-block {
    display: flex;
    flex-direction: column;
  }
  .calc-block-left {
    border-right: 0px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .input {
    margin-bottom: 16px;
  }
}
@media (max-width: 780px) {
  .result-title {
    font-size: 14px;
  }
  .result-num {
    font-size: 16px;
  }
  .result-block {
    padding: 8px;
  }
}

@media (max-width: 600px) {
  .calc-block {
    width: 100% !important;
  }
}
@media (max-width: 450px) {
  .result-title {
    font-size: 11px;
  }
  .result-num {
    font-size: 13px;
  }
}
