.page-content {
  max-width: 1520px;
  margin: 0 auto;
  padding: 16px;
}

.block-parent {
  display: flex;
  justify-content: center;
}

.calc-block {
  width: 60%;
  padding: 16px;
  border-radius: 12px;
  min-height: 200px;
  display: flex;
}

.calc-block-left {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-right: 1px solid #eee;
}
.calc-block-right {
}

.input {
  margin-bottom: 32px;
}

.result-block {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.result-num {
  font-size: 20px;
  font-weight: 500;
  color: #009900;
}

.result-title {
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

.title-set {
  text-align: center;
}
