.menu-text {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 16px;
  font-weight: 600 !important;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500 !important;
  color: #333;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 */
